SESSION_SECRET=<REPLACE FOR YOUR SESSION SECRET HERE>
DB_PASSWORD=<REPLACE FOR YOUR MONGO ATLAS PASSWORD>
EMAIL_ADMINISTRATOR=<REPLACE FOR YOUR EMAIL ADMINISTRATOR>
CEL_ADMINISTRATOR=<REPLACE FOR YOUR CEL ADMINISTRATOR>
GMAIL_FROM_SEND=<REPLACE FOR YOUR GMAIL FROM SEND>
GMAIL_PASS_APPLICATION=<REPLACE FOR YOUR GMAIL PASS APPLICATION>
TWILIO_ACCOUNT_SID=<REPLACE FOR YOUR TWILIO ACCOUNT SID>
TWILIO_ACCOUNT_TOKEN=<REPLACE FOR YOUR TWILIO ACCOUNT TOKEN>
TWILIO_NUMBER_WHATSAPP=<REPLACE FOR YOUR TWILIO NUMBER WHATSAPP>
TWILIO_NUMBER_SMS=<REPLACE FOR YOUR TWILIO NUMBER SMS>