<div class="container mt-3 jumbotron alert-success">
    <h3 class="text-primary">Adios <b>{{ nombreUsuario }}</b></h3>
</div>

<script>
    setTimeout(() => {
        window.location = "/";
    }, 2000)
</script>